.flags__container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.message__title{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.message__title h1{
  text-align: center;
  font-size: 5vmin;
  font-weight: 500;
}

.message__title span{
  font-weight: 700;
}

/*.message__title h1{
  font-size: 2vmin;
}*/

.message__title img{
  width: 15rem;
  height: 25vh;
}
  
.flagImg{
    width: 20%;
    height: 25vh;
    margin: 25px 0px 0px 15px;
    box-shadow: 5px 0px 5px black;
    transition: transform 0.3s ease-out;
}
  
.flagImg:hover{
    transform: scale(1.1);
}

.invisible{
  display: none;
}

  
@media screen and (max-width: 670px){
    .flagImg{
      width: 80%;
  }

  .message__title img{
    width: 50%;
  }
}

@media screen and (max-width: 465px){
  .flagImg{
    width: 80%;
}

.message__title img{
  display: none;
}

.message__title h1{
  font-size: 6vmin;
}
}

