.flags__container{
    width: 100%;
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease-in-out;
}

.message__title{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.message__title h1{
  text-align: center;
  font-size: 5vmin;
  font-weight: 500;
}

.message__title span{
  font-weight: 700;
}

/*.message__title h1{
  font-size: 2vmin;
}*/

.message__title img{
  width: 15rem;
  height: 25vh;
}
  
.flagImg{
    width: 20%;
    height: 25vh;
    margin: 35px 0px 5px 55px;
    box-shadow: 5px 0px 5px black;
    transition: transform 0.3s ease-out;
}
  
.flagImg:hover{
    filter: brightness(70%) blur(2px);
    transform: scale(1.1);
}

.flagImg:hover:after {
  content: '\1F50E'; /* Unicode para el símbolo de la lupa (🔍) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em; /* Ajusta el tamaño según tus necesidades */
  color: white; /* Ajusta el color según tus necesidades */
}

.invisible{
  display: none;
}

@media screen and (max-width: 670px){
    .flagImg{
      width: 80%;
  }

  .message__title img{
    width: 50%;
  }
}

@media screen and (max-width: 465px){
  .flagImg{
    width: 80%;
}

.message__title img{
  display: none;
}

.message__title h1{
  font-size: 6vmin;
}
}

@media screen and (min-width: 1220px){
  .flags__container{
    margin-bottom: 20px;
  }
}

