.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay{
    background: rgba(9, 31, 49, 0.72);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalInfo{
    display: flex;
    justify-content: space-between;
}

.modal-content{
    border-left: 5px solid #3F7BFD;
    width: 90%;
    font-size: 2vmin;
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.modalImg{
    width: 100%;
    height: 25vh;
    margin: auto;
}

.modalbtn-close{
    color: #3F7BFD;
    width: 2em;
}

.modalbtn-close:hover{
    color: #1c49aa;
}

@media screen and (max-width: 650px){
    .modalImg{
        height: 20vh;
    }
}