.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de alpha para ajustar la opacidad */
    z-index: 0;
}