/*Menu style*/
#menu{
    margin: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 2.3vmin;
}

.logout-btn{
    color: #FFF;
    margin-top: -2px;
    background-color: #3F7BFD;
    border-radius: 35px;
    padding: 10px 20px;
    width: 10em;
    font-size: 1.5vmin;
    white-space: nowrap;
}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links-info a,
li{
    text-decoration: none;
    color: #FFF;
    white-space: nowrap;
}

.link-menu:hover,
.active-link{
    border-bottom: 2px solid #386ad5;
}

.logout-btn:hover{
    background-color: #386ad5;
}

.user-icon{
    margin-right: 10px;
}

.burger-menu{
    display: none;
    color: #FFF;
    width: 25px;
}

/*.links-info,
.user-info ul{
    display: none;
}*/

 /*PORTRAIT*/
.portrait-container {
background-image: url('../../medio/PortraitPhoto.jpg'); 
background-size: cover;
background-position: center;
height: 250px;
border-radius: 15px; 
text-align: left;
color: #fff; 
padding: 50px;
font-size: 25px; 

}

    @media screen and (max-width: 768px) {
        .portrait-container {
        background-image: url('../../medio/PortraitPhoto.jpg'); 
        background-size: cover;
        height: 200px; 
        font-size: 14px;; 
    }

    @media screen and (max-width: 576px) {
        .portrait-container {
        font-size: 12px;
        }
    }


    @media screen and (max-width: 850px){
        .links-info,
        .user-info ul{
            display: none;
        }

        .burger-menu{
            display: block;
            /*width: 28vw;*/
        }
    }

}