.ImageCanoa {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #091F31;
    position: relative;
  }
  
  .Canoa {
    max-width: 90%; 
    height: auto; 
    display: block; 
    margin-top: 2rem;
  }
  
  .centered-text {
    position: absolute;
    font-size: 90px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
   
  }
  