.search-banner{
    height: 25vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.53) 100%), url('../../../medio/landscapeselectbgjpg.jpg'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}


.map-icon{
    margin-right: 5px;
}
  
@media (max-width: 768px) {
    .custom-select {
      width: 100%; 
    }
}
  

  