.search-banner{
    height: 25vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.53) 100%), url('../../../medio/landscapeselectbgjpg.jpg'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}


.map-icon{
    margin-right: 5px;
}

.btnLoad__container{
    /*margin: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadbtn{
    margin: 5px 0px 15px 0px;
    background-color: #3F7BFD;
    border-radius: 35px;
}
  


@media (max-width: 768px) {
    .custom-select {
      width: 100%; 
    }
}
  

  