/*.infoP-container{
    /*padding: 5px;
}*/

.infoP-container p{
    margin-top: 25px;
    color: #e2e2e2;
    font-size: 2vmin;
}

.titleP-container h2{
    color: #e2e2e2;
    text-shadow: 4px 4px 2px #004859;
    margin-left: 5px;
    font-size: 3.5vmin;
}

.titleP-container{
    margin-top: 35px;
}

.titlePHotel{
    text-align: center;
}


@media screen and (max-width: 650px){
    .infoP-container p{
        font-size: 3vmin;
    }
    
    .titleP-container h2{
        font-size: 5vmin;
    }
}