.title-passwd{
    color: #A96947;
    text-shadow: 2px 1px 1px rgb(149, 146, 146);
}

.passwd-container{
    margin: 15px;
}

.eye-icon{
    bottom: 80%;
}

.passwd-bottom{
    margin-bottom: 5px;
}
