.CountryBannerBg{
    /*background-image: url('https://images7.alphacoders.com/458/458518.jpg');*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.53) 100%), url('../../medio/ItalyImg.jpg'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}

@media screen and (max-width: 650px){
    .CountryBannerBg {
        height: 5vh;
    }
}